<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <h6 slot="start" class="ion-text-wrap"><strong>FALTANTES</strong></h6>
    <ion-fab-button slot="end" (click)="salvar()"  color="dark"  size="small">
      <ion-icon name="save-outline"  [color]="sinSalvar ? 'danger': 'light'" ></ion-icon>
    </ion-fab-button>

    <ion-fab-button slot="end"  (click)="presentAlert('Continuar proceso de Bodega...', 'Bodega')" fill="clear"  color="dark"  size="small">
      <ion-icon name="chevron-forward-outline"   [color]="sinSalvar ? 'danger': 'light'" ></ion-icon>
    </ion-fab-button>


<span slot="end" style="margin-right: 1rem;">
  <ion-fab-button (click)="encuestas()" color="dark"  size="small">
    <ion-icon name="notifications-outline"></ion-icon>
  </ion-fab-button>
  <ion-badge style="position:absolute;top: 0.5rem;right:0rem;" color="primary" mode="ios">{{encuestasService.encuestas.length}}</ion-badge>
</span>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <h6 slot="start" class="ion-text-wrap"><strong>{{ nombrePDV }}</strong></h6>
 
  </ion-toolbar>
</ion-header>
    <ion-item translucent="true" lines="none" class="ion-margin-top ion-margin-bottom" >
      <ion-label slot="start" class="ion-text-wrap"><strong>PRODUCTO</strong></ion-label>
      <ion-input #input [(ngModel)]="texto" clearInput="true" (keyup.enter)="buscarProducto()"></ion-input>
      <ion-button (click)="buscarProducto()" slot="end" size="medium" color="primary">
        <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
 


  <ion-list *ngIf="mostrarListaProd">
    <ion-item *ngFor="let item of busquedaProd; let i = index" color="light" (click)="listaProducClick(i)">
      <ion-label class="ion-text-wrap">{{item.id}}-{{item.nombre}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list #myList>
    <ion-item-sliding *ngFor="let item of tareas.rutero[i].detalle; let j = index">
      
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="vencimientos(j)">
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label class="ion-text-wrap" *ngIf="item.cant_Vence === null">
          {{ item.idProducto }} - {{ item.nombre }}
        </ion-label>
        <ion-label class="ion-text-wrap" color="primary" *ngIf="item.cant_Vence !== null">
          {{ item.idProducto }} - {{ item.nombre }}
        </ion-label>
        <ion-thumbnail slot="end" (click)="cambioStock(j)">
          <img [src]="item.imagen">
        </ion-thumbnail>
      </ion-item>
      
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-button (click)="presentAlert('Desea salir...', 'Salir')" style="margin-left: 0.5rem;" slot="start"  color="dark">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
     <ion-label>SALIR</ion-label>
    </ion-button>
    <ion-title slot="end" (click)="pendientes($event)">Líneas {{linea}} de {{lineas}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sinMarcas()">
        <ion-icon slot="end" size="large" name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
