<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{SKU}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Inventario</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tienda: {{ inventario }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Vence: {{ vencimiento | date : 'shortDate' }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Cantidad: {{ cant_Vence }}</ion-label>
  </ion-item>

  <ion-item *ngIf="hayFaltante">
    <ion-select interface="action-sheet" [(ngModel)]="justificacion">
      <ion-select-option value="FNE">Facturado No Entregado</ion-select-option>
      <ion-select-option value="VE">Venta Extraordinaria</ion-select-option>
      <ion-select-option value="FPV">Faltante PDV</ion-select-option>
      <ion-select-option value="FDI">Faltante Isleña</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="hayBajoStock">
    <ion-label>Stock: </ion-label>
    <ion-input type="number" value="justificacion" [(ngModel)]="justificacion"></ion-input>
  </ion-item>
  <p></p>
  <ion-button (click)="salvar()" expand="block" shape="round">
    Salvar
  </ion-button>

</ion-content>
