<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" style="display: flex;justify-content:space-between;align-items: center;">
          <ion-button (click)="regresar()" fill="clear">
            <ion-icon size="large" name="chevron-back-outline"></ion-icon>
          </ion-button>
<h6 class="ion-text-wrap" style="margin-right: 0.5rem;"><strong> {{encuesta.tipo_Respuesta == 'SEUN' ? 'Selección Unica' : encuesta.tipo_Respuesta == 'SEMU' ? 'Selección multiple' : 'Respuesta Corta' }} </strong></h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  
  <ion-item>
    <ion-label>Pregunta : 

      <p class="ion-text-wrap" style="margin-top: 0.5rem;">
        {{encuesta.pregunta}}
      </p>
    </ion-label>
   
  </ion-item>
  <ion-item>
    <ion-label>
      Fecha 
      <p class="ion-text-wrap" style="margin-top: 0.5rem;">{{encuesta.vigencia_Inicio | date }} / {{encuesta.vigencia_Fin  | date}}</p>
    </ion-label>
 
  </ion-item>
  <ion-item>
    <ion-label>Repeticiones </ion-label>
    <ion-badge slot="end" color="primary" mode="ios">{{encuesta.repite}}</ion-badge>
  </ion-item>
</ion-list>

<ion-grid  *ngIf="encuesta.tipo_Respuesta == 'TEXT'">
  <ion-row>
    <ion-col size="12">
<ion-toolbar>
  <ion-title><strong>Mis Respuestas</strong></ion-title>
  <ion-fab-button slot="end" color="dark" size="small">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-toolbar>
    </ion-col>
    <ion-col size="12">
      <ion-input class="description" type="text" placeholder="respuesta"></ion-input>
    </ion-col>
    <ion-col size="12">
      <ion-button  expand="block" fill="solid"  color="dark">
        Agregar Respuesta
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-list>
  <ion-list-header>
    <ion-label>Mis Respuestas</ion-label>
 
  </ion-list-header>
  <ion-item *ngFor="let itrm of [1,1,1,1,1]">
    <ion-label>Awesome Label</ion-label>
  </ion-item>
</ion-list>
</ion-content>
