<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button (click)="presentAlertSalir()" fill="clear" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">{{etiqueta}}</ion-title>
      <ion-button (click)="salvar()" fill="clear" slot="end" size="medium">
        <ion-icon name="save-outline" size="large" [color]="!sinSalvar ? 'dark': 'danger'" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item color="light">
    <ion-text color="primary">
      <h2>{{ nombrePDV }}</h2>
    </ion-text>
    <ion-button (click)="cambioStock(0)" slot="end" size="medium" color="light">
      <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>

    <ion-item *ngFor="let item of detalleRut; let j = index">
      <ion-label *ngIf="item.stock === 0" class="ion-text-wrap" [color]="item.cant_Vence === null ? 'dark' : 'primary'">
        {{ item.idProducto }} - {{ item.nombre }}
      </ion-label>
      <ion-label *ngIf="item.stock !== 0" (click)="transito( $event, j )" class="ion-text-wrap" [color]="item.justificacion !== null ? 'dark' : 'danger'">
        {{ item.idProducto }} - {{ item.nombre }}
      </ion-label>
      <ion-thumbnail slot="end" (click)="cambioManual(j)">
        <img [src]="item.imagen">
      </ion-thumbnail>
    </ion-item>

    <ion-item *ngIf="justificar">
      <ion-label position="floating">Observaciones:</ion-label>
      <ion-textarea
        [value]="tareas.rutero[i].observaciones"
        [(ngModel)]="tareas.rutero[i].observaciones">
      </ion-textarea>
    </ion-item>

  </ion-list>

  <p></p>
  <ion-button (click)="checkOut()" expand="block" shape="round" *ngIf="justificar">
    Enviar...
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-button (click)="cambioStock(0)" slot="start" size="medium" color="light">
      <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
    </ion-button>
    <ion-title slot="end">Líneas {{linea}} de {{lineas}}</ion-title>
  </ion-toolbar>
</ion-footer>
