<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="regresar()" shape="round" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-border>
  <ion-slides class="mainSlide">
    <ion-slide>

      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{pdv.nombre}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="primary" type="submit" shape="round" (click)="checkIn()">Check In</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>
</ion-content>
