<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-label slot="start">
      <h6><strong>SIN MARCAS</strong></h6>
    </ion-label>
      <ion-toggle slot="end" [(ngModel)]="sinMarcas"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content no-border class="ion-padding">

  <ion-grid >
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>{{pdv.nombre}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <ion-button color="primary" type="submit" shape="round" (click)="checkIn()">Check In</ion-button>
      </ion-col>
    </ion-row>
 
    
  </ion-grid>
</ion-content>
 