<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="salir()" fill="clear" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">Administración - {{ tareas.varConfig.ruta }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Numero de Ruta</ion-label>
    <ion-input [(ngModel)]="texto" (keyup.enter)="rutaEnter(texto)"></ion-input>
    <ion-button (click)="rutasPoppover( $event )" slot="end" size="medium" color="light">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <p></p>

  <ion-list>
    <ion-item color="light">
      <ion-label>
        <h2><strong>Numero de Ruta: {{tareas.varConfig.ruta}}</strong></h2>
        <p>Nombre del Mercadista: {{tareas.varConfig.agente}}</p>
        <p>Nombre de HH: {{tareas.varConfig.handHeld}}</p>
        <p>Consecutivo Pedidos: {{tareas.varConfig.pedido}}</p>
        <p>Consecutivo Devoluciones: : {{tareas.varConfig.devolucion}}</p>
      </ion-label>
    </ion-item>
    <p></p>
    <ion-item color="light">
      <ion-label>Consecutivo Pedidos: </ion-label>
      <ion-input type="text" [(ngModel)]="tareas.varConfig.pedido"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label>Consecutivo Devoluciones: </ion-label>
      <ion-input type="text" [(ngModel)]="tareas.varConfig.devolucion"></ion-input>
    </ion-item>
  </ion-list>
  <p></p>
  <ion-button (click)="sincronizar()" expand="block" shape="round">
    Sincronizar
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title slot="start">{{ ambiente }}</ion-title>
    <ion-title slot="end">Versión: {{ version }}</ion-title>
  </ion-toolbar>
</ion-footer>
